.logo {
    padding-right: 10px;
}

.header-text {
    color: white;
    font-size: x-large;
}

.application-subheader {
    background-color: #3C4F76 !important;
}

.header-link {
    text-decoration: none;
}