.masonry-title {
    text-align: center;
    color: white;
    background-color: #3C4F76 ;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

.masonry-image {
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}